<h1>Characters</h1>
<!-- <div class='table-spacer'></div> -->
<table class='center'>
  <tr>
    <th>ID</th>
    <th>Name</th>
  </tr>
  <% @characters.each do |c| %>
    <tr>
      <td colspan="1">
        <%= c.id %>
      </td>
      <td colspan="1">
        <%= link_to c.name, "characters/#{c.id}" %>
      </td>
    </tr>
  <% end %>
</table>
<!-- <div class='table-spacer'></div> -->
<%= button_to 'Logout', logout_path, :method => :delete %><br />
