<h1>Characters</h1>

<table style="width: 100%;">
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Earned Badges</th>
		<th>Issue Badge</th>
		<th>Remove Badge</th>
	</tr>
	<% @characters.each do |c| %>
	<tr>
		<td colspan="1">
			<%= c.id %>
		</td>
		<td colspan="1">
			<%= c.name %>
		</td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<% end %>
</table>
<%= button_to 'Logout', logout_path, :method => :delete %><br />
