<h1><%= @character.name%></h1>
<h3>My Badges</h3>
<% @badges.each do |badge| %>
  <div class='badge-container'>
    <h4><%= badge[:name] %></h4>
     <%= link_to 'Accept Badge', badge[:accept_badge_url]  %>
    <div>
      <%= image_tag ( badge[:image_url] ) %>
    </div>
  </div>
<% end %>
