// Place all the styles related to the characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
img {
	height: 100px;
	width: 100px;
}

// div {
// 	display: inline-block;
// 	padding: 10px;
// 	border: 1px solid black;
// }

.badge-container {
	display: inline-block;
	padding: 10px;
	border: 1px solid black;
}

.img-container {
	padding: 10px;
}
